<div class="gridsContainer">
    <a href="portal/shiftscheduling">
        <div class="grid">
            <div class="featureName">
                Shift Scheduling
            </div>
            <img class="featureImg" src="{{ url_for('getImage', name='calendar.png')}}">
        </div>
    </a>
    <a href="portal/chat">
        <div class="grid">
            <div class="featureName">
                Chat
            </div>
            <img class="featureImg" src="{{ url_for('getImage', name='chat.png')}}">
        </div>
    </a>
    <a href="portal/holidaybooking">
        <div class="grid">
            <div class="featureName">
                Holiday Booking
            </div>
            <img class="featureImg" src="{{ url_for('getImage', name='calendar.png')}}">
        </div>
    </a>
    <a href="portal/sheets">
        <div class="grid">
            <div class="featureName">
                Time Sheets
            </div>
            <img class="featureImg" src="{{ url_for('getImage', name='document.png')}}">
        </div>
    </a>
    <a href="portal/stock">
        <div class="grid">
            <div class="featureName">
                <p>Stock</p>
            </div>
            <img class="featureImg" src="{{ url_for('getImage', name='checklist.png')}}">
        </div>
    </a>
    <a href="portal/calendar">
        <div class="grid">
            <div class="featureName">
                Calendar
            </div>
            <img class="featureImg" src="{{ url_for('getImage', name='calendar.png')}}">
        </div>
    </a>
</div>